

.CompanySearchForm {
  max-width: 800px;
  margin: 0 auto;
  background-color: whitesmoke;
  margin-bottom: 45px;
}

 .CompanySearchForm label {
  position: relative;
  text-align: left;
  font-weight: bold;
} 

