
.Home {
  background-color: white;
  top: 75px;
  position: relative;
  color: dimgray;
  width: 50%;
  margin: 0 auto;
  padding: 20px 50px 50px 50px;
  /* border: solid dimgray 5px; */
}

.Home h1 {
  margin: 50px;
}

.Home-left {
  text-align: left;
  color: darkslateblue;
  margin-bottom: 25px;
  font-style: italic;
}

.Home-right {
  color: darkslateblue;
  text-align: right;
  margin-top: 25px;
  font-style: italic;
}

.HomeLink {
  text-decoration: none;
  color: white;
}